* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Component stylings */
li {
  list-style: none;
}

p {
  font-size: 1.5em;
}

/* Class stylings */
.container-1 {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  float: right;
  width: 50%;
  height: auto;
  padding: 1em;
}

.content {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#Footer p{
  font-size: 5px;
}

/* ID stylings */
#image-1 {
  max-width: 25em;
}

#hero {
  background-size: cover;
  max-width: 100%;
}

#footer {
  display: flex;
  justify-content: end;
}

/* Default React App Stuff */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}